/* *{
    overflow:auto;
} */
.grass {
    display:flex;
    bottom: 0px;
    z-index: 31;
    position:fixed;
    width:1000vw;
    overflow:auto;
}

body {
    background-color: rgb(245, 146, 203);
    background-image: url("background-cave.JPG");
    background-repeat: repeat;
    background-position: center top;
    overflow: auto;
    width:1000vw;
}
/* 
.bcgd2 {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-image: url("foreground.PNG");
    background-position: center top;
    top:0px;
    z-index: 30;
    overflow:auto;
} */
h3 {
    float:center;
    margin-right: 10px;
    position: fixed;

}

img.short-grass {
    width: 300px;
    height: 200px;
}

img.bunny-animation {
    width: 250px;
    height: 250px;
    position: fixed;

}

.bunny {
    animation: bunny-move 4s linear alternate infinite;
    position: fixed;

}

@keyframes bunny-move{
    0% {
        transform: translate(-25vw, -50vh);

    }
    20% {
        transform: translate(0vw, 50vh);
    }
    40% {
        transform: translate(25vw, -25vh);
    }
    60% {
        transform: translate(50vw, 25vh);
    }
    80% {
        transform: translate(75vw, -50vh);
    }
    100% {
        transform: translate(100vw, 50vh);

    }
}

.bunny:hover {
    animation-play-state: paused;
    width: 500px;
    height: 500px;
    position: fixed;

}
