/* *{
    overflow:auto;
} */


body {
    background-color: rgb(245, 146, 203);
    background-image: url("background-cave.JPG");
    background-repeat: repeat-x;
    background-position: center top;
    overflow-y: hidden;
    position:static;
    /* width:1000vw; */
}
.background {
    height: 100%;
    width: 100%;
    width:1000vw;

}
.grass {
    display:inline-block;
    bottom: 0;
    z-index: 31;
    position:fixed;
    width:1000vw;
    white-space: nowrap;
    overflow-y:scroll;
}

/* .bcgd2 {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-image: url("foreground.PNG");
    background-repeat: repeat-y;
    background-position: center top;
    top:0px;
    z-index: 30;
    overflow:auto;
} */
h3 {
    margin: 10px; 
    position: absolute;
    display: flexbox;
    width: max-content;
    justify-content: flex-end;
}

/* a {
    text-align: center;    
    overflow: auto;
    position: absolute;
    right: 100px;
} */

img.short-grass {
    width: 300px;
    height: 200px;
}

img.bunny-animation {
    width: 250px;
    height: 250px;
    position: fixed;

}

.bunny {
    animation: bunny-move 4s linear alternate infinite;
    position: fixed;
    display:inline-block;

}

@keyframes bunny-move{
    0% {
        transform: translate(-25vw, -50vh);

    }
    20% {
        transform: translate(0vw, 50vh);
    }
    40% {
        transform: translate(25vw, -25vh);
    }
    60% {
        transform: translate(50vw, 25vh);
    }
    80% {
        transform: translate(75vw, -50vh);
    }
    100% {
        transform: translate(100vw, 50vh);

    }
}

.bunny:hover {
    animation-play-state: paused;
    width: 500px;
    height: 500px;
    position: fixed;

}
